.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #262c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Ratings */

.rating-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
  color: #fdcc0d;
  max-width: fit-content;
}

.rating-outer::before {
  content: '\f006 \f006 \f006 \f006 \f006';
}

.rating-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.rating-inner::before {
  content: '\f005 \f005 \f005 \f005 \f005';
  color: #f8ce0b;
}

.shadow-bold:hover {
  text-shadow: 1px 0 0 black;
}

p {
  font-family: 'poppins';
}

.outer-octagon {
  width: 74px;
  height: 74px;
  background-color: rgb(255, 0, 76);
  /* Adjust the color as needed */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: polygon(26% 0%, 74% 0%, 99% 26%, 99% 74%, 74% 100%, 26% 100%, 0% 74%, 0% 26%);
  border-radius: 24px;
}

.inner-octagon {
  width: 94%;
  height: 94%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  clip-path: polygon(26% 0%, 74% 0%, 100% 26%, 100% 74%, 74% 100%, 26% 100%, 0% 74%, 0% 26%);
  border-radius: 24px;
}

.inner-2-octagon {
  width: 94%;
  height: 94%;
  position: relative;
  clip-path: polygon(26% 0%, 74% 0%, 100% 26%, 100% 74%, 74% 100%, 26% 100%, 0% 74%, 0% 26%);
  border-radius: 20px;
}

.login-shadow {
  box-shadow: 0px 15px 40px 15px rgb(0, 0, 0, 0.03);
}

.toggle-dot {
  top: 2px;
  left: 2px;
  transition: all 0.3s ease-in-out;
}

.translate-x-6 {
  transform: translateX(1.5rem);
}

.rotate-icon {
  transition: transform 500ms ease-in-out;
}

.rotate-icon:hover {
  transform: rotate(180deg);
}

.post-box {
  align-items: stretch;
  border: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  font: inherit;
  font-size: 100%;
  position: relative;
  vertical-align: baseline;
}
.custom-dialog{
  border-radius: 20px;
}

.color:hover .svg-icon {
  transition: fill 0.3s;
  fill: rgb(115, 115, 115); 
}

.like .svg-icon {
  transition: fill 0.2s; 
}

.like:hover .svg-icon {
  fill: rgb(115, 115, 115);
}


.comment .svg-icon path{
  transition: stroke 0.2s;  /* Add a smooth transition effect */
}

.comment:hover .svg-icon path{
  stroke: rgb(115, 115, 115) /* Change to your desired hover color */
}

.share svg path,
.share svg line,
.share svg polygon {
  transition: stroke 0.2s;
  stroke: currentColor; /* Set the stroke color to the current text color */
}

.share:hover svg path,
.share:hover svg line,
.share:hover svg polygon {
  stroke: rgb(115, 115, 115) /* Change to your desired hover color */
}

.save svg polygon {
  transition: stroke 0.2s;
  stroke: currentColor; /* Set the stroke color to the current text color */
}

.save:hover svg polygon {
  stroke: rgb(115, 115, 115)/* Change to your desired hover color for the outline */
}

.comment-like svg {
  fill: rgb(0, 0, 0);
  transition: fill 0.2s ease;
}

/* Change color on hover */
.comment-like:hover svg {
  fill: rgb(115, 115, 115) /* Change to your desired hover color */
}

.more .svg-icon {
  transition: fill 0.2s ease; /* Change the color as desired */
}
.more:hover .svg-icon {
  
  fill: rgb(115, 115, 115); /* Change the color as desired */
}